/* ======================
=========================
AUTHOR/AUTEUR:
    EDDY KHENTHAVONG
=========================

    TABLE OF CONTENTS 

    - @media screen and (max-width: 375px)
      - white section settings
      - green class settings
      - dark-green id settings
      - light-green id settings

=========================
=======================*/

@media all and (max-device-width: 375px) {
  /* GENERAL */

  body {
    margin: 2em 2.5em;
  }

  #wrapper {
    width: 100%;
  }

  /* white section settings */

  #white {
    padding: 1.5em;
  }

  #white h1 {
    font-size: 1.3em;
    padding-bottom: 0.8em;
  }

  #white h2 {
    font-size: 0.9em;
    padding-bottom: 0.8em;
  }

  #white p {
    font-size: 0.7em;
    line-height: 1.8em;
  }

  /* green class settings */

  .green {
    flex-direction: column;
  }

  /* dark-green id settings */

  #dark-green {
    padding: 1.5em;
    border-bottom-left-radius: 0;
  }

  #dark-green h2 {
    font-size: 0.9em;
    padding-bottom: 0.8em;
  }

  #month {
    font-size: 0.9em;
    color: hsl(179, 48%, 63%);
  }

  #dark-green p:nth-child(3) {
    font-size: 0.8em;
    margin-bottom: 0.8em;
    color: hsl(179, 45%, 81%);
  }

  button {
    margin: 0.2em;
    padding: 5% 38%;
  }

  /* dark-green id settings */

  #light-green {
    padding: 1.5em;
    border-bottom-left-radius: 0.5em;
    width: 83%;
  }

  #light-green h2 {
    font-size: 0.9em;
  }

  #light-green p {
    font-size: 0.8em;
  }
}
